.banners{
    margin-bottom:20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center
}
.banners{
    img{
    width:100%;
    margin-bottom:10px;
    }
}
.mailing{
    margin-bottom:20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center
}
.mailing{
    img{
    width:100%;
    margin-bottom:10px;
    }
}